In [1]:
import numpy as np
import pandas as pd

In [2]:
falsy_values = (0, False, None, '', [], {})

In [3]:
any(falsy_values)

False

In [4]:
type(np.nan)

float

In [5]:
3 + np.nan

nan

In [6]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])

In [7]:
a.sum(), a.mean()

(nan, nan)

In [9]:
try:
    3 + None
except:
    print('Error: no se puede sumar NoneTypes con otros tipos de numero')

Error: no se puede sumar NoneTypes con otros tipos de numero

In [10]:
type(np.inf)

float

In [11]:
np.inf / 3

inf

In [12]:
np.inf / np.inf

nan

In [13]:
b = np.array([1, 2, 3, np.inf, np.nan, 4])

In [14]:
b.sum()

nan

In [15]:
np.isnan(np.nan)

True

In [16]:
np.isinf(np.inf)

True

In [17]:
np.isfinite(np.nan), np.isfinite(np.inf),np.isfinite(3)

(False, False, True)

In [18]:
np.isnan(np.array([1, 2, 3, np.nan, np.inf, 4]))

array([False, False, False,  True, False, False])

In [19]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])

In [20]:
a[~np.isnan(a)]

array([1., 2., 3., 4.])

## Pandas utility functions

In [25]:
pd.isnull(np.nan), np.isnan(np.nan), pd.isna(np.nan)

(True, True, True)

In [29]:
pd.notnull(None), pd.notna(None)

(False, False)

In [30]:
pd.notnull(3)

True

In [31]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [32]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [35]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
})

df

   Column A  Column B  Column C
0       1.0       NaN       NaN
1       NaN       2.0       2.0
2       7.0       3.0       NaN

In [36]:
pd.isnull(df)

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

In [37]:
pd.Series([1, 2, np.nan]).count()

2

In [38]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [39]:
pd.Series([2, 2, np.nan]).mean()

2.0

In [40]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [41]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [42]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [43]:
pd.notnull(s).sum()

4

In [44]:
pd.isnull(s).sum()

2

In [45]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

### But both notnull and isnull are also methods of Series and DataFrames, so we could use it that way:

In [46]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [47]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64